body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44, 139, 44);
}
#snake{
    border-width: 4px;
    border-style: double;
    border-color: black;
    border-top-width: 5px;
}
